header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 40px;
    background-color: #0a0a0a;
}
header .logotipo {
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}


header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: auto;
    height: auto;
    overflow: hidden;
}
header .links .btn-link {
    cursor: pointer;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
header .links .btn-link:hover,
header .links .btn-link:active,
header .links .btn-link:focus {
    color: rgba(255, 255, 255, 0.75);
}


header .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    width: auto;
    height: auto;
    overflow: hidden;
}
header .btn-group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 0.9rem;
    line-height: normal;
    border: 0;
    text-decoration: none;
}
header .btn-group .favorites {
    background-color: transparent;
    color: rgba(41, 224, 169, 1);
    border-radius: 48px;
    font-weight: 500;
}
header .btn-group .favorites:hover,
header .btn-group .favorites:active,
header .btn-group .favorites:focus {
    color: rgba(41, 224, 169, 0.7);
}
header .btn-group .register {
    background-color: rgba(130, 75, 233, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 48px;
    padding: 10px 24px;
    font-weight: 600;
}
header .btn-group .register:hover,
header .btn-group .register:active,
header .btn-group .register:focus {
    background-color: rgba(130, 60, 233, 1);
}