.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 200px;
}

.container { width: 100%; overflow: hidden; margin: 0 auto; padding: 160px 0; }
.container .movie-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 100%;
    padding: 0 4%;
}
.container .movie-details img {
    max-width: 50%;
    object-fit: cover;
    border-radius: 16px;
    border: 0;
}
.container .movie-details .info {
    display: grid;
    gap: 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container .movie-details .info .copy {
    display: grid;
    gap: 24px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container .movie-details .info .copy h2 {
    width: 100%;
    font-size: 2.5em;
    line-height: 1.1em;
    color: rgba(255, 255, 255, 0.95);
}
.container .movie-details .info .copy .assessment {
    width: 100%;
    overflow: hidden;
    font-size: 1.05em;
    font-weight: 400;
    color: rgba(255, 217, 102, 0.8);
    border-radius: 4px;
}
.container .movie-details .info .copy p {
    width: 100%;
    font-size: 1.1em;
    line-height: 1.45em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.container .movie-details .info .btn-group {
    display: flex;
    gap: 32px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container .movie-details .info .btn-group .btn-save {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 48px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 24px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(41, 224, 169, 0.2);
}
.container .movie-details .info .btn-group .btn-save:hover,
.container .movie-details .info .btn-group .btn-save:active,
.container .movie-details .info .btn-group .btn-save:focus {
    background-color: rgba(41, 224, 169, 0.5);
}
.container .movie-details .info .btn-group .btn-video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 48px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    padding: 0 32px;
    border-radius: 48px;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 217, 102, 0.5);
}
.container .movie-details .info .btn-group .btn-video:hover,
.container .movie-details .info .btn-group .btn-video:active,
.container .movie-details .info .btn-group .btn-video:focus {
    opacity: 1;
    transition: all 1ms ease;
    border: 1px solid rgba(255, 217, 102, 0.3);
    background-color: rgba(255, 217, 102, 0.3);
}